<p>data-binding works!</p>


<!-- interpolation -->
<h1>My age is:{{age}}</h1>
<h1>Is Idian: {{isIndian}}</h1>

<!-- property binding -->
 <button [disabled]="isInvalid">submit</button>

 <!-- event binding -->
 <button (click)="create()">create</button>
 <input type="text" (keyup)="typing()">

 <!-- two way Data-Binding -->

 <input type="text" [(ngModel)]="phone">

 <input type="text" >



 <!-- ================================== -->

 <h1>Calculator</h1>

 <label for="">Num1</label>
 <input type="number" [(ngModel)]="num1">
 <br>
 <label for="">Num2</label>
 <input type="number" [(ngModel)]="num2">
 <br>
 <button [disabled]="!num1 || !num2" (click)="sum()">Sum</button>
 <h1>{{results}}</h1>