<p>user-regis works!</p>

<form [formGroup]="userForm">
    <label for="">Name:</label>
    <input type="text" formControlName="name"> <br>
    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p class="error" *ngIf="userForm.get('name')?.errors?.['required']"> Name is Required</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']"> min 3 characters Required</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']"> max 17 characters Required</p>
    </div>
    <label for="">Age:</label>
    <input type="number" formControlName="age"> <br>
    <div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
        <p class="error" *ngIf="userForm.get('age')?.errors?.['required']"> Name is Required</p>
        <p class="error" *ngIf="userForm.get('age')?.errors?.['min']"> min 18 characters Required</p>
        <p class="error" *ngIf="userForm.get('age')?.errors?.['max']"> max 60 characters Required</p>
    </div>
    <label for="">Email:</label>
    <input type="email" formControlName="email"> <br>
    <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        <p class="error" *ngIf="userForm.get('email')?.errors?.['required']"> Email is Required</p>
        <p class="error" *ngIf="userForm.get('email')?.errors?.['email']">Invalid Email address</p>
    </div>
    <label for="">Phone no:</label>
    <input type="number" formControlName="phone"> <br>
    <div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
        <p class="error" *ngIf="userForm.get('phone')?.errors?.['required']"> Phone number is Required</p>
        <p class="error" *ngIf="userForm.get('phone')?.errors?.['pattern']">Enter a valid 10-digit phone number</p>
    </div>
    <div formGroupName="address">
        <label for="">city:</label>
        <input type="text" formControlName="city"> <br>
        <label for="">pin no:</label>
        <input type="number" formControlName="pin"> <br>
    </div>

    <label for="">Type:</label>
    <input type="radio" id="daysc" formControlName="type" value="dayScholor">
    <label for="daysc">DayScholar</label>
    <input type="radio" id="res" formControlName="type" value="residential">
    <label for="res">Residential</label>
    <br>

    <div *ngIf="userForm.get('type')?.value=='dayScholor'">
        <label for="">Bus Fee:</label>
        <input type="number" formControlName="busFee">
        <br>
    </div>

    <div *ngIf="userForm.get('type')?.value=='residential'">
        <label for="">Hostel Fee:</label>
        <input type="number" formControlName="hostelfee">
        <br>
    </div>

    <label for="">Cards</label>
    <button (click)="addCard()">ADD</button><br>

    <div formArrayName="cards">
        <div *ngFor="let card of cardsArrayForm.controls;let i=index">
            <div formGroupName="{{i}}">
                <h3>Card {{i+1}}</h3>
                <label for="">Number:</label>
                <input type="number" formControlName="number"> <br>
                <label for="">Expiry:</label>
                <input type="number" formControlName="expiry"> <br>
                <label for="">CVV:</label>
                <input type="number" formControlName="cvv"> <br>

                <button (click)="deletCard(i)" class="btn btn-danger">Delete</button>

                <hr>

            </div>

        </div>

    </div>


    <button (click)="submit()" class="btn btn-primary">Submit</button>
</form>