<div class="parent">
    <div class="left">
        <h2>My Website</h2>
        <hr width="70%">
        <div class="links">
            <h3 routerLink="home">Home</h3>
            <h3 routerLink="welcome">Welcome</h3>
            <h3 routerLink="databinding">Data Binding</h3>
            <h3 routerLink="caluc">Calculator</h3>
            <h3 routerLink="rectangle">Rectangle</h3>
            <h3 routerLink="circle">Circle</h3>
            <h3 routerLink="bmi">BMI</h3>
            <h3 routerLink="derectives">Derectives</h3>
            <h3 routerLink="eventregistration">Eventregistration</h3>
            <h3 routerLink="employeeregistration">Employeeregistration</h3>
            <h3 routerLink="employee">Employee</h3>
            <h3 routerLink="flipkart">Flipkart</h3>
            <h3 routerLink="vehicle">Vehicle</h3>
            <h3 routerLink="createvehilcle">Add Vehicle</h3>
            <h3 routerLink="account">Accounts</h3>
            <h3 routerLink="createaccount">Add Account</h3>
            <h3 routerLink="ecart">E-Cart</h3>
            <h3 routerLink="emaile">E-Mail</h3>
            <h3 routerLink="pics">Pinerest</h3>
            <h3 routerLink="weather">weather</h3>
            <h3 routerLink="blog">Blog</h3>
            <h3 routerLink="IMDb">IMDb</h3>
            <h3 routerLink="pokeman">Pokeman</h3>
            <h3 routerLink="social">Social profiles</h3>
            <h3 routerLink="student">Student Id Card</h3>
            <h3 routerLink="studentid">create Student ID card</h3>
            <h3 routerLink="createUser">create User</h3>
            <h3 routerLink="studentregi">Add student</h3>
            
            


        </div>
        <button routerLink="/login">logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>