<div class="parent">
    <div class="left">
        <h2>My Website</h2>
        <hr width="70%">
        <div class="links">
            <h3 routerLink="home">Home</h3>
            <h3 routerLink="welcome">Welcome</h3>
            <h3 routerLink="databinding">Data Binding</h3>
            <h3 routerLink="caluc">Calculator</h3>
            <h3 routerLink="rectangle">Rectangle</h3>
            <h3 routerLink="circle">Circle</h3>
            <h3 routerLink="bmi">BMI</h3>
            <h3 routerLink="derectives">Derectives</h3>
            <h3 routerLink="eventregistration">Eventregistration</h3>
            <h3 routerLink="employeeregistration">Employeeregistration</h3>
            <h3 routerLink="employee">Employee</h3>
            <h3 routerLink="flipkart">Flipkart</h3>
            <h3 routerLink="vehicle" >Vehicle</h3>
            
        </div>
        <button routerLink="/login">logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>